

.remove{
  margin-left:0.5rem;
}

.edit{
  margin-left:0.5rem;
}


.updated_lname{
  margin-left:0.5rem;
}

.starting_lname{
  margin-left:0.5rem;
  margin-right: 0.5rem;
}

.table_1{
  padding-right: 1rem;
}

.table_2{
  padding-right: 1rem;
}

.list{
  padding-top: 3rem;
}

.forming_list{
  padding-top: 1rem;
}











